[Unit]
Description=Wireguard GUI
After=network.target wg-daemon.service
Wants=wg-daemon.service
StartLimitIntervalSec=0

[Service]
Type=simple
Restart=always
RestartSec=1
User=ubuntu
SupplementaryGroups=wireguard
WorkingDirectory=/home/ubuntu/wireguard-gui/src
ExecStart=/home/ubuntu/wireguard-gui/.venv/bin/python /home/ubuntu/wireguard-gui/src/run.py

[Install]
WantedBy=multi-user.target
