body {
    font-family: "Roboto", ui-sans-serif, system-ui, sans-serif;
}

a {
    text-underline-offset: 2px;
}

th.sortable {
    cursor: pointer;
    user-select: none;
}

th.sortable:hover {
    background-color: rgb(241 245 249);  /* slate-100 */
}